/*--banner-background-custom*/

.gallery-bg {
    background-image: url(../img/trucks-category-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.gallery-page>h1 {
    padding: 10px 0px 0px 30px;
}


/*--Gallery-banner-background-custom*/


/*--/Gallery-banner-background-custom*/
